
ul#menu,
ul#menu li,
ul#menu ul {
  margin: 0;
  border: 0 none;
  padding: 0;
  width: 130px; 
  list-style: none;
}

ul#menu:after {
  clear: both;
  display: block;
  font: 1px/0px serif;
  content: ".";
  height: 0;
  visibility: hidden;
}

ul#menu li {
  float: left; 
  display: inline; 
  position: relative;
  border:#000 1px solid;
  }
ul#menu li ul li {
border:none;
}

ul#menu a {
  padding: 0 6px;
  display: block;
  background-image:url(../i/but-3.jpg);

color: #FFF;
  font: bold 9px/28px Georgia, "Times New Roman", Times, serif;
  text-align:center;
  text-decoration: none;
  height:30px;
}


ul#menu a:hover,
ul#menu li:hover a,
ul#menu li.iehover a {
	background-image:url(../i/but-3.jpg);
  color:#000;

}


ul#menu li:hover li a,
ul#menu li.iehover li a {
	background-image: url(../i/but-1.jpg);
   color:#fff;
}


ul#menu li:hover li a:hover,
ul#menu li:hover li:hover a,
ul#menu li.iehover li a:hover,
ul#menu li.iehover li.iehover a {
	background-image:url(../i/but-2.jpg);
  color:#000;
  
}



ul#menu ul,
ul#menu ul ul,
ul#menu ul ul ul {
  display: none;
  top: 0;
  left: 130px;
}


ul#menu li:hover ul ul,
ul#menu li:hover ul ul ul,
ul#menu li.iehover ul ul,
ul#menu li.iehover ul ul ul {
  display: none;
}

ul#menu li:hover ul,
ul#menu ul li:hover ul,
ul#menu ul ul li:hover ul,
ul#menu li.iehover ul,
ul#menu ul li.iehover ul,
ul#menu ul ul li.iehover ul {
  display: block;
}
